body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
// .accueil {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: center;
//     background-color: white;
// }

.accueil {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
