/*               STAR                 */
/*----------------------------------- */
.star,
.star-empty {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.3125rem;
    color: #e3e3e3;
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.625rem;
}

.star-empty {
    color: #e3e3e3;
}
