.info-logement {
    width: 100%;
    height: auto;
    max-width: 86vw;
    margin: 0 auto;
    margin-bottom: 60px;

    .css {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
        @media (max-width: 750px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0px;
            width: 100%;
        }

        .title-tags {
            width: 100%;
        }
    }
    &__titles h2 {
        color: #ff6060;
        font-size: 36px;
        margin: 0;
        @media (max-width: 750px) {
            font-size: 30px;
        }
    }

    .tags {
        display: flex;
        align-items: center;

        gap: 10px;
        margin-top: 30px;
        border: 1px solid transparent;
        height: 35px;
    }
    .tag {
        display: flex;
        align-items: center;
        height: inherit;
        background-color: #ff6060;
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
        margin-right: 10px;
    }

    .rating-host {
        display: flex;
        width: 100%;
        flex-direction: column;

        @media (max-width: 750px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;
        }

        .host {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;

            &__name {
                color: #ff6060;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 60px;
                text-align: right;
                margin-top: 0;

                @media (max-width: 750px) {
                    font-size: 18px;
                }
            }
            &__picture {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .collapse {
        width: 100%;
        display: flex;
        gap: 25px;
        cursor: pointer;
        @media (max-width: 750px) {
            flex-direction: column;
            height: auto;
            gap: 0px;
        }
    }
}
