/*              COLLAPSE                */
/*----------------------------------- */
.section-apartment {
    margin: 10px 0;
    width: 100%;
    .apartment__description {
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        .description__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background: #ff6060;
            color: white;
            cursor: pointer;
            margin: 0;
            .chevron {
                width: 20px;
                height: 20px;
                &.open {
                    transform: rotate(180deg);
                }
            }
        }
        .description__content {
            background: #f6f6f673;
            padding: 10px;
            margin: 0;
            display: none;
            &.open {
                display: block;
                transform: scaleY(1);
            }
        }
    }
}
