.section-apartment {
    margin: 10px 0;
    width: 100%;
    .apartment__description {
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;

        .description__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background: #ff6060;
            color: white;
            cursor: pointer;
            margin: 0;

            .chevron {
                width: 20px;
                height: 20px;
                transition: transform 0.3s ease;
                &.open {
                    transform: rotate(180deg);
                }
            }
        }

        .description__content {
            background: #f6f6f673;
            padding: 0 10px;
            margin: 0;
            max-height: 0;
            overflow: hidden;
            transition:
                max-height 0.3s ease,
                padding 0.3s ease;

            &.open {
                max-height: 600px;
                padding: 10px;
            }
        }
    }
}
