.aPropos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__img {
        width: 90%;
        height: 150px;
        margin: 20px auto;
        border-radius: 25px;
        object-fit: cover;
    }
}

.collapses {
    height: 100%;
    width: 100%;
    max-width: 66vw;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 720px) {
        max-width: 90vw;
    }
}
