.galerie {
    width: 100%;
    max-width: 86vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 3.125rem;
    border-radius: 1.5625rem;
    background: #f7f7f7;
    height: auto;
    margin-bottom: 15px;

    @media (max-width: 900px) {
        background-color: transparent;
    }
    @media (max-width: 450px) {
        padding-top: 2rem;
        width: 100%;
    }

    .card {
        position: relative;
        width: 28%;
        height: 16em;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
        border-radius: 20px;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(10, 10, 10, 0) 42%,
            rgba(4, 4, 4, 0.205) 99.99%,
            rgba(0, 0, 0, 0.5) 100%
        );
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color: white;
        object-fit: cover;

        @media (max-width: 1400px) {
            width: 42%;
            margin: 0 auto;
        }

        @media (max-width: 900px) {
            width: 100%;
            height: 25em;
        }

        &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        h3 {
            position: absolute;
            bottom: 2px;
            left: 10px;
            font-size: 10px;
            margin: 10px 0;
        }
    }
}
