// .description-equipments {
//     width: 100%;
//     // display: flex;
//     gap: 20px;
//     margin-bottom: 20px;
// }
// .section-apartment {
//     width: 40%;
//     color: royalblue;
//     // vos styles
// }

// .apartment__description {
//     color: saddlebrown;
//     // vos styles
// }

// .description__header {
//     color: rgb(177, 19, 143);
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     justify-content: space-between; // Pour espacer le texte et le chevron
// }

// .chevron {
//     color: aqua;
//     width: 20px;
//     height: 20px;
//     transition: transform 0.3s;
// }

// .chevron.open {
//     color: yellow;
//     transform: rotate(180deg);
// }

// .description__content {
//     color: blue;
//     // vos styles
// }

// .description__content.open {
//     color: red;
//     // vos styles pour quand la description est visible
// }
.carousel {
    position: relative;
    width: 100%;
    max-width: 86vw;
    margin: 20px auto;

    .carousel-image {
        width: 100%;
        height: 450px;
        border-radius: 25px;
        object-fit: cover;

        @media (max-width: 650px) {
            height: auto;
        }
    }
    .arrow-left,
    .arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    .arrow-left {
        left: 10px;
    }
    .arrow-right {
        right: 10px;
    }
    .carousel-counter {
        position: absolute;
        bottom: 10px;
        right: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 5px;
        border-radius: 5px;

        @media (max-width: 750px) {
            display: none;
        }
    }
}
