.galerie{
    width: 100%;
    max-width: 86vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* padding: 20px; */
    gap: 20px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #F6F6F6;
    ;

.location{    
    background-color: #FF6060;
    color: white;
    font-size: 8px;
    width: 30%;
    height: 200px;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
  } 
      
}
.imgLocation{
    /* width: 100%; */
    color:white;
    object-fit: cover;
    
}