.galerie {
    width: 100%;
    max-width: 86vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 3.5rem;
    padding-bottom: 0;
    row-gap: 3.125rem;
    border-radius: 1.5625rem;
    background: #f7f7f7;

    @media screen and (max-width: 450px) {
        padding-top: 2rem;
        width: 100%;
    }

    .appartement {
        position: relative;
        width: 28%;
        height: auto;
        display: flex;
        flex-direction: column;

        @media (max-width: 789) {
            width: 45%;
        }
        border-radius: 20px;
        // background-color: #f0f0f0;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(10, 10, 10, 0) 42%,
            rgba(4, 4, 4, 0.205) 99.99%,
            rgba(0, 0, 0, 0.5) 100%
        );
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color: white;
        object-fit: cover;

        @media (min-width: 451) {
            width: 45%;
            margin: 20px auto;
        }

        @media (max-width: 450px) {
            width: 100%;
            margin: 10px auto;
        }
        &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        h3 {
            position: absolute;
            bottom: 2px;
            left: 10px;
            font-size: 10px;
            margin: 10px 0;
        }
    }
}

// .thumb-wrapper {
// 	@include desktop-breakpoint {
// 		display: flex;
// 		flex-flow: row wrap;
// 		justify-content: space-evenly;
// 		margin: 0 auto;
// 		padding-top: 3.5rem;
// 		padding-bottom: 0;
// 		row-gap: 3.125rem;
// 		border-radius: 1.5625rem;
// 		background: #f7f7f7;
// 	}
// }
