.footer {
    margin-top: 10px;
    width: 100%;
    height: 209px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 24px;

    &__logo {
        width: 163px;
        height: 60px;
        margin: 5px auto;
    }
    &__p {
        margin: 10px;
    }

    @media (max-width: 450px) {
        height: 100px;
        font-size: 16px;
    }
}
