@use "./composants/appartement/appartement.scss";
@use "./composants/banner/banner.scss";
@use "./composants/footer/footer.scss";
@use "./composants/header/header.scss";
@use "./pages/accueil/accueil.scss";
@use "./pages/aPropos/aPropos.scss";
@use "./pages/logement/logement.scss";
@use "./pages/notFound/notFound.scss";
