.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    color: #f00;
    background-color: white;
    text-align: center;
    flex-direction: column;

    a {
        color: black;
        font-size: 18px;
    }
}
